img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    object-fit: cover;
    margin: 15px;
}

.card{
    height: 300px;
    width: 250px;
    display: flex;
    border: 1px gray solid;
    border-radius: 6px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}