*{
    box-sizing: border-box;
}

.rootdiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
    font-style: italic;
}

.input-box{
    width:400px;
    height: auto;
    display: flex;
}

input{
    width: 100%;
    height: 40px;
    border:1px lightgray solid;
    border-radius: 6px;
    padding: 10px;
}

input:focus{
    border:2px blue solid;
}

button{
    width: 100px;
    height: 40px;
    border:none;
    background-color: purple;
    color: wheat;
    border-radius: 6px;
    margin-left:10px;
}

.imageshow{
    width: 950px;
    flex-wrap: wrap;
    display: flex;

}